.background {
  background-image: asset-url("maxres.jpg");
  //background-color: orange;
  height: 100vh;    //vh = view height   vw = view-width
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-2 {
  height: 50vh;
}
 
 h1 {
 font-size: 50px;
 color: white;
 }
 

@media all and (max-width: 1199px) {
  .image-box-container {
    max-width: 600px;
  } 
}    //Going Responsive in all media

