<div class="landing">
  <div class="hero-banner">
        <div class="background">
        </div>
    <div class="content">
      <h1 class="red-text text-center">  The Virtual Reality Driving School ! </h1>
      <hr class="short-underline">
  </div>
</div>
 </div>